<div id="<%= dom_id supplier_account %>">
  <p>
    <strong>Account:</strong>
    <%= supplier_account.account %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= supplier_account.supplier_id %>
  </p>

</div>
