<h1>Editing part</h1>

<%= render "form", part: @part %>

<br>

<div>
  <%= link_to "Show this part", supplier_part_path(@supplier,@part) %> |
  <%= link_to "Back to parts", supplier_parts_path %>
</div>
