<h1><%= I18n.t('part.view_edit_title') %></h1>

<%= render "form", part: @part %>

<br>

<div>
  <%= link_to I18n.t('part.show'), part_path(@part) %> |
  <%= link_to I18n.t('part.back'), parts_path %>
</div>
