<p style="color: green"><%= notice %></p>

<%= render @part %>

<div>
  <%= link_to I18n.t('supplier.part.edit'), edit_part_path(@part) %> |

  <%= link_to I18n.t('supplier.part.destroy'), @part, method: :delete %>
</div>
