<h1><%= I18n.t('author.book.view_edit_title') %></h1>

<%= render "form", book: @book %>

<br>

<div>
  <%= link_to I18n.t('author.book.show'), author_book_path %> |
  <%= link_to I18n.t('author.book.back'), author_books_path %>
</div>
