<h1><%= I18n.t('book.view_edit_title') %></h1>

<%= render "form", book: @book %>

<br>

<div>
  <%= link_to I18n.t('book.show'), book_path %> |
  <%= link_to I18n.t('book.back'), books_path %>
</div>
